@function getBreakpoint($key) {
    @return map-get($map: $breakpoints, $key: $key);
}

@function getRgba($color, $alpha) {
    @return rgba(red($color), green($color), blue($color), $alpha);
}

@function getContrastYIQ($color) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    $yiq: (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;

    @if ($yiq >= 128) {
        @return $black;
    } @else {
        @return $white;
    }
}
