.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 100px;
    background: rgba(0, 0, 0, .5);
    color: $white;
    margin-bottom: 10px;

    &.-rounded {
        border-radius: 4px;
    }

    &.-large {
        padding: 10px 15px;
    }
}