/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: rgba(243, 246, 243, 0.65);
  border: none;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #021115;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.gallery-cell {
  width: 70%;
  padding: 20px 20px 30px;
  height: 500px;
  margin-left: 0;
  transition: transform 0.3s ease-in-out;
}

.gallery-cell:not(.is-selected) {
  transform: scale(0.95);
}

.gallery-cell__card {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 1rem;
}

p,
a,
button,
input,
textarea,
select,
option {
  font-size: 1.125rem;
}

.container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 460px;
  }
}

@media screen and (min-width: 568px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 928px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.columns--no-margins {
  margin-left: 0;
  margin-right: 0;
}

.column {
  padding: 10px;
  flex: 1;
}

.column--xlg-12,
.column--xlg-11,
.column--xlg-10,
.column--xlg-9,
.column--xlg-8,
.column--xlg-7,
.column--xlg-6,
.column--xlg-5,
.column--xlg-4,
.column--xlg-3,
.column--xlg-2,
.column--xlg-1,
.column--lg-12,
.column--lg-11,
.column--lg-10,
.column--lg-9,
.column--lg-8,
.column--lg-7,
.column--lg-6,
.column--lg-5,
.column--lg-4,
.column--lg-3,
.column--lg-2,
.column--lg-1,
.column--md-12,
.column--md-11,
.column--md-10,
.column--md-9,
.column--md-8,
.column--md-7,
.column--md-6,
.column--md-5,
.column--md-4,
.column--md-3,
.column--md-2,
.column--md-1,
.column--sm-12,
.column--sm-11,
.column--sm-10,
.column--sm-9,
.column--sm-8,
.column--sm-7,
.column--sm-6,
.column--sm-5,
.column--sm-4,
.column--sm-3,
.column--sm-2,
.column--sm-1,
.column--xsm-12,
.column--xsm-11,
.column--xsm-10,
.column--xsm-9,
.column--xsm-8,
.column--xsm-7,
.column--xsm-6,
.column--xsm-5,
.column--xsm-4,
.column--xsm-3,
.column--xsm-2,
.column--xsm-1,
.column--xlg,
.column--lg,
.column--md,
.column--sm,
.column--xsm {
  flex: 0 0 100%;
}

@media screen and (min-width: 480px) {
  .column--xsm {
    flex: 1;
  }
}

@media screen and (min-width: 568px) {
  .column--sm {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .column--md {
    flex: 1;
  }
}

@media screen and (min-width: 960px) {
  .column--lg {
    flex: 1;
  }
}

@media screen and (min-width: 1200px) {
  .column--xlg {
    flex: 1;
  }
}

.column--1 {
  flex-basis: 8.3333333333%;
}

.column--2 {
  flex-basis: 16.6666666667%;
}

.column--3 {
  flex-basis: 25%;
}

.column--4 {
  flex-basis: 33.3333333333%;
}

.column--5 {
  flex-basis: 41.6666666667%;
}

.column--6 {
  flex-basis: 50%;
}

.column--7 {
  flex-basis: 58.3333333333%;
}

.column--8 {
  flex-basis: 66.6666666667%;
}

.column--9 {
  flex-basis: 75%;
}

.column--10 {
  flex-basis: 83.3333333333%;
}

.column--11 {
  flex-basis: 91.6666666667%;
}

.column--12 {
  flex-basis: 100%;
}

@media screen and (min-width: 480px) {
  .column--xsm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-shrink: 1;
  }

  .column--xsm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-shrink: 1;
  }

  .column--xsm-3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-shrink: 1;
  }

  .column--xsm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-shrink: 1;
  }

  .column--xsm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-shrink: 1;
  }

  .column--xsm-6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 1;
  }

  .column--xsm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-shrink: 1;
  }

  .column--xsm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-shrink: 1;
  }

  .column--xsm-9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-shrink: 1;
  }

  .column--xsm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-shrink: 1;
  }

  .column--xsm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-shrink: 1;
  }

  .column--xsm-12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 568px) {
  .column--sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-shrink: 1;
  }

  .column--sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-shrink: 1;
  }

  .column--sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-shrink: 1;
  }

  .column--sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-shrink: 1;
  }

  .column--sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-shrink: 1;
  }

  .column--sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 1;
  }

  .column--sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-shrink: 1;
  }

  .column--sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-shrink: 1;
  }

  .column--sm-9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-shrink: 1;
  }

  .column--sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-shrink: 1;
  }

  .column--sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-shrink: 1;
  }

  .column--sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 768px) {
  .column--md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-shrink: 1;
  }

  .column--md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-shrink: 1;
  }

  .column--md-3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-shrink: 1;
  }

  .column--md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-shrink: 1;
  }

  .column--md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-shrink: 1;
  }

  .column--md-6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 1;
  }

  .column--md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-shrink: 1;
  }

  .column--md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-shrink: 1;
  }

  .column--md-9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-shrink: 1;
  }

  .column--md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-shrink: 1;
  }

  .column--md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-shrink: 1;
  }

  .column--md-12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 960px) {
  .column--lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-shrink: 1;
  }

  .column--lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-shrink: 1;
  }

  .column--lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-shrink: 1;
  }

  .column--lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-shrink: 1;
  }

  .column--lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-shrink: 1;
  }

  .column--lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 1;
  }

  .column--lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-shrink: 1;
  }

  .column--lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-shrink: 1;
  }

  .column--lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-shrink: 1;
  }

  .column--lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-shrink: 1;
  }

  .column--lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-shrink: 1;
  }

  .column--lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 1200px) {
  .column--xlg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    flex-shrink: 1;
  }

  .column--xlg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    flex-shrink: 1;
  }

  .column--xlg-3 {
    flex-basis: 25%;
    max-width: 25%;
    flex-shrink: 1;
  }

  .column--xlg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    flex-shrink: 1;
  }

  .column--xlg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    flex-shrink: 1;
  }

  .column--xlg-6 {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 1;
  }

  .column--xlg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    flex-shrink: 1;
  }

  .column--xlg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    flex-shrink: 1;
  }

  .column--xlg-9 {
    flex-basis: 75%;
    max-width: 75%;
    flex-shrink: 1;
  }

  .column--xlg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    flex-shrink: 1;
  }

  .column--xlg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    flex-shrink: 1;
  }

  .column--xlg-12 {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 1;
  }
}

.banner,
.section--hero,
.section--half,
.section--larger,
.section--large,
.section--small,
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--hero {
  min-height: 100vh;
}

.section--hero.-primary,
.section--half.-primary,
.section--larger.-primary,
.section--large.-primary,
.section--small.-primary,
.section.-primary {
  background: #14d622;
  color: #000;
}

.section--hero.-secondary,
.section--half.-secondary,
.section--larger.-secondary,
.section--large.-secondary,
.section--small.-secondary,
.section.-secondary {
  background: #04a00e;
  color: #fff;
}

.section--hero.-success,
.section--half.-success,
.section--larger.-success,
.section--large.-success,
.section--small.-success,
.section.-success {
  background: #14d622;
  color: #000;
}

.section--hero.-danger,
.section--half.-danger,
.section--larger.-danger,
.section--large.-danger,
.section--small.-danger,
.section.-danger {
  background: #ff3920;
  color: #fff;
}

.section--hero.-warning,
.section--half.-warning,
.section--larger.-warning,
.section--large.-warning,
.section--small.-warning,
.section.-warning {
  background: #ffff26;
  color: #000;
}

.section--hero.-info,
.section--half.-info,
.section--larger.-info,
.section--large.-info,
.section--small.-info,
.section.-info {
  background: #00e2b2;
  color: #000;
}

.section--hero.-dark,
.section--half.-dark,
.section--larger.-dark,
.section--large.-dark,
.section--small.-dark,
.section.-dark {
  background: #021115;
  color: #fff;
}

.section--hero.-light,
.section--half.-light,
.section--larger.-light,
.section--large.-light,
.section--small.-light,
.section.-light {
  background: #f3f6f3;
  color: #000;
}

.section--hero.-black,
.section--half.-black,
.section--larger.-black,
.section--large.-black,
.section--small.-black,
.section.-black {
  background: #000;
  color: #fff;
}

.section--hero.-white,
.section--half.-white,
.section--larger.-white,
.section--large.-white,
.section--small.-white,
.section.-white {
  background: #fff;
  color: #000;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section--small {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section--large {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section--larger {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section--half {
  min-height: 50vh;
}

.section.-half-dark {
  background: #021115;
  color: #fff;
}

.section.-half-dark .button.-dark {
  background: #f3f6f3;
  color: #000;
}

.section.-half-dark .button.-dark:hover {
  background: #f3f9fc;
}

.section.-half-dark .button.-dark:active {
  background: #f7fcfc;
}

@media screen and (min-width: 768px) {
  .section.-half-dark {
    color: #000;
    background-image: linear-gradient(to right, #fff 65%, #021115 35%);
  }

  .section.-half-dark .button.-dark {
    background: #021115;
    color: #f3f6f3;
  }

  .section.-half-dark .button.-dark:hover {
    background: #010a0d;
  }

  .section.-half-dark .button.-dark:active {
    background: #010708;
  }
}

@media screen and (min-width: 768px) {
  .section.-half-light {
    background-image: linear-gradient(to left, #fff 65%, #021115 35%);
  }
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 65vh;
  position: relative;
}

.banner--hero {
  min-height: 100vh;
  line-height: 1.2;
}

.banner--horizontal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.banner--horizontal .banner__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .banner--horizontal .banner__image {
    top: 0;
    right: 0;
  }

  .banner--horizontal .banner__image--halfvw {
    width: 45vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.banner__content {
  position: relative;
  z-index: 2;
}

.banner__title {
  position: relative;
  z-index: 1;
  font-size: 48px;
}

@media screen and (min-width: 600px) {
  .banner__title {
    font-size: 4rem;
  }
}

.banner__overlay,
.banner--overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.banner__overlay--dark,
.banner--overlay-dark::before {
  background: rgba(0, 0, 0, 0.6);
}

.banner__overlay--light,
.banner--overlay-light::before {
  background: rgba(255, 255, 255, 0.5);
}

.banner--parallax {
  background-attachment: fixed;
}

.banner--overlay::before {
  content: "";
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.header.is-active {
  background: #fff;
  box-shadow: 0 8px 16px rgba(138, 149, 158, 0.2);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: bold;
  white-space: nowrap;
  flex: 1;
  z-index: 2;
}

.header__logo a {
  text-decoration: none;
  color: #000;
}

.header__burger {
  flex: 0 0 auto;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.header__search {
  flex: 1 1 calc(100% - 35px);
  max-width: calc(100% - 35px);
}

.header__nav {
  flex: 5;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: #f3f6f3;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  z-index: -99;
  transition: all 0.3s ease-in-out;
}

.nav.is-active {
  pointer-events: all;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav {
    position: static;
    pointer-events: all;
    opacity: 1;
    z-index: 2;
    height: auto;
    width: auto;
    flex-direction: row;
    background: transparent;
  }
}

.nav.-left {
  padding-left: 2rem;
}

@media screen and (min-width: 768px) {
  .nav.-left {
    justify-content: flex-start;
  }
}

.nav.-center {
  justify-content: center;
}

.nav.-right {
  justify-content: flex-end;
}

.nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    flex-direction: row;
  }
}

.nav__item + .nav__item {
  margin-top: 2.125rem;
}

@media screen and (min-width: 768px) {
  .nav__item + .nav__item {
    margin-top: 0;
    margin-left: 2.125rem;
  }
}

.nav__link {
  color: #021115;
  white-space: nowrap;
  text-decoration: none;
}

.burger {
  background: none;
  border: none;
  position: relative;
  height: 12px;
  width: 25px;
  outline: none;
}

.burger__bar {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: #021115;
  transition: all 0.3s ease-in-out;
}

.burger__bar:nth-child(2) {
  top: 6px;
}

.burger__bar:nth-child(3) {
  top: 12px;
}

.burger.is-active .burger__bar {
  top: 50%;
  transform: translateY(-50%);
}

.burger.is-active .burger__bar:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
}

.burger.is-active .burger__bar:nth-child(2),
.burger.is-active .burger__bar:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}

.meatball {
  border: none;
  background: transparent;
  padding: 0;
  vertical-align: middle;
}

.meatball__ball {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  vertical-align: middle;
}

.title {
  font-size: 2.827rem;
  font-weight: 500;
}

.title--small {
  font-size: 1.999rem;
}

.title--large {
  font-size: 3.998rem;
}

.title--larger {
  font-size: 5.653rem;
}

.button {
  display: inline-flex;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  background: transparent;
  border: 1px solid transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button.-primary {
  background-color: #14d622;
  color: #000;
}

.button.-primary:hover {
  background-color: #1aea29;
}

.button.-primary:active {
  background-color: #31ec3f;
}

.button.-secondary {
  background-color: #04a00e;
  color: #fff;
}

.button.-secondary:hover {
  background-color: #05b910;
}

.button.-secondary:active {
  background-color: #05d212;
}

.button.-success {
  background-color: #14d622;
  color: #000;
}

.button.-success:hover {
  background-color: #1aea29;
}

.button.-success:active {
  background-color: #31ec3f;
}

.button.-danger {
  background-color: #ff3920;
  color: #fff;
}

.button.-danger:hover {
  background-color: #ff503a;
}

.button.-danger:active {
  background-color: #ff6653;
}

.button.-warning {
  background-color: #ffff26;
  color: #000;
}

.button.-warning:hover {
  background-color: #ffff40;
}

.button.-warning:active {
  background-color: #ffff59;
}

.button.-info {
  background-color: #00e2b2;
  color: #000;
}

.button.-info:hover {
  background-color: #00fcc6;
}

.button.-info:active {
  background-color: #16ffce;
}

.button.-dark {
  background-color: #021115;
  color: #fff;
}

.button.-dark:hover {
  background-color: #04242c;
}

.button.-dark:active {
  background-color: #063744;
}

.button.-light {
  background-color: #f3f6f3;
  color: #000;
}

.button.-light:hover {
  background-color: white;
}

.button.-light:active {
  background-color: white;
}

.button.-black {
  background-color: #000;
  color: #fff;
}

.button.-black:hover {
  background-color: #0d0d0d;
}

.button.-black:active {
  background-color: #1a1a1a;
}

.button.-white {
  background-color: #fff;
  color: #000;
}

.button.-white:hover {
  background-color: white;
}

.button.-white:active {
  background-color: white;
}

.button.-rounded {
  border-radius: 3px;
}

.button.-full-rounded {
  border-radius: 100px;
}

.button.-link.-primary {
  background: transparent;
  color: #14d622;
}

.button.-link.-primary:hover {
  background: rgba(20, 214, 34, 0.12);
}

.button.-link.-primary:active {
  background: rgba(20, 214, 34, 0.2);
}

.button.-link.-secondary {
  background: transparent;
  color: #04a00e;
}

.button.-link.-secondary:hover {
  background: rgba(4, 160, 14, 0.12);
}

.button.-link.-secondary:active {
  background: rgba(4, 160, 14, 0.2);
}

.button.-link.-success {
  background: transparent;
  color: #14d622;
}

.button.-link.-success:hover {
  background: rgba(20, 214, 34, 0.12);
}

.button.-link.-success:active {
  background: rgba(20, 214, 34, 0.2);
}

.button.-link.-danger {
  background: transparent;
  color: #ff3920;
}

.button.-link.-danger:hover {
  background: rgba(255, 57, 32, 0.12);
}

.button.-link.-danger:active {
  background: rgba(255, 57, 32, 0.2);
}

.button.-link.-warning {
  background: transparent;
  color: #ffff26;
}

.button.-link.-warning:hover {
  background: rgba(255, 255, 38, 0.12);
}

.button.-link.-warning:active {
  background: rgba(255, 255, 38, 0.2);
}

.button.-link.-info {
  background: transparent;
  color: #00e2b2;
}

.button.-link.-info:hover {
  background: rgba(0, 226, 178, 0.12);
}

.button.-link.-info:active {
  background: rgba(0, 226, 178, 0.2);
}

.button.-link.-dark {
  background: transparent;
  color: #021115;
}

.button.-link.-dark:hover {
  background: rgba(2, 17, 21, 0.12);
}

.button.-link.-dark:active {
  background: rgba(2, 17, 21, 0.2);
}

.button.-link.-light {
  background: transparent;
  color: #f3f6f3;
}

.button.-link.-light:hover {
  background: rgba(243, 246, 243, 0.12);
}

.button.-link.-light:active {
  background: rgba(243, 246, 243, 0.2);
}

.button.-link.-black {
  background: transparent;
  color: #000;
}

.button.-link.-black:hover {
  background: rgba(0, 0, 0, 0.12);
}

.button.-link.-black:active {
  background: rgba(0, 0, 0, 0.2);
}

.button.-link.-white {
  background: transparent;
  color: #fff;
}

.button.-link.-white:hover {
  background: rgba(255, 255, 255, 0.12);
}

.button.-link.-white:active {
  background: rgba(255, 255, 255, 0.2);
}

.button.-ghost {
  border: 1px solid currentColor;
}

.button.-ghost.-primary:not(:hover):not(:active) {
  background: transparent;
  color: #14d622;
}

.button.-ghost.-primary:hover {
  border-color: transparent;
}

.button.-ghost.-primary:active {
  border-color: transparent;
}

.button.-ghost.-secondary:not(:hover):not(:active) {
  background: transparent;
  color: #04a00e;
}

.button.-ghost.-secondary:hover {
  border-color: transparent;
}

.button.-ghost.-secondary:active {
  border-color: transparent;
}

.button.-ghost.-success:not(:hover):not(:active) {
  background: transparent;
  color: #14d622;
}

.button.-ghost.-success:hover {
  border-color: transparent;
}

.button.-ghost.-success:active {
  border-color: transparent;
}

.button.-ghost.-danger:not(:hover):not(:active) {
  background: transparent;
  color: #ff3920;
}

.button.-ghost.-danger:hover {
  border-color: transparent;
}

.button.-ghost.-danger:active {
  border-color: transparent;
}

.button.-ghost.-warning:not(:hover):not(:active) {
  background: transparent;
  color: #ffff26;
}

.button.-ghost.-warning:hover {
  border-color: transparent;
}

.button.-ghost.-warning:active {
  border-color: transparent;
}

.button.-ghost.-info:not(:hover):not(:active) {
  background: transparent;
  color: #00e2b2;
}

.button.-ghost.-info:hover {
  border-color: transparent;
}

.button.-ghost.-info:active {
  border-color: transparent;
}

.button.-ghost.-dark:not(:hover):not(:active) {
  background: transparent;
  color: #021115;
}

.button.-ghost.-dark:hover {
  border-color: transparent;
}

.button.-ghost.-dark:active {
  border-color: transparent;
}

.button.-ghost.-light:not(:hover):not(:active) {
  background: transparent;
  color: #f3f6f3;
}

.button.-ghost.-light:hover {
  border-color: transparent;
}

.button.-ghost.-light:active {
  border-color: transparent;
}

.button.-ghost.-black:not(:hover):not(:active) {
  background: transparent;
  color: #000;
}

.button.-ghost.-black:hover {
  border-color: transparent;
}

.button.-ghost.-black:active {
  border-color: transparent;
}

.button.-ghost.-white:not(:hover):not(:active) {
  background: transparent;
  color: #fff;
}

.button.-ghost.-white:hover {
  border-color: transparent;
}

.button.-ghost.-white:active {
  border-color: transparent;
}

.button.-raised {
  box-shadow: 0 3px 6px rgba(10, 10, 10, 0.15);
}

.button.-raised:hover {
  box-shadow: 0 4px 8px rgba(10, 10, 10, 0.15), 0 5px 10px rgba(20, 20, 20, 0.05);
}

.button.-raised:active {
  box-shadow: 0 8px 16px rgba(138, 149, 158, 0.2);
}

.button.-raised.-primary {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(20, 214, 34, 0.3);
}

.button.-raised.-primary:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(20, 214, 34, 0.3);
}

.button.-raised.-primary:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(20, 214, 34, 0.3);
}

.button.-raised.-secondary {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(4, 160, 14, 0.3);
}

.button.-raised.-secondary:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(4, 160, 14, 0.3);
}

.button.-raised.-secondary:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(4, 160, 14, 0.3);
}

.button.-raised.-success {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(20, 214, 34, 0.3);
}

.button.-raised.-success:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(20, 214, 34, 0.3);
}

.button.-raised.-success:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(20, 214, 34, 0.3);
}

.button.-raised.-danger {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(255, 57, 32, 0.3);
}

.button.-raised.-danger:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(255, 57, 32, 0.3);
}

.button.-raised.-danger:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(255, 57, 32, 0.3);
}

.button.-raised.-warning {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(255, 255, 38, 0.3);
}

.button.-raised.-warning:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(255, 255, 38, 0.3);
}

.button.-raised.-warning:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(255, 255, 38, 0.3);
}

.button.-raised.-info {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(0, 226, 178, 0.3);
}

.button.-raised.-info:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(0, 226, 178, 0.3);
}

.button.-raised.-info:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(0, 226, 178, 0.3);
}

.button.-raised.-dark {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(2, 17, 21, 0.3);
}

.button.-raised.-dark:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(2, 17, 21, 0.3);
}

.button.-raised.-dark:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(2, 17, 21, 0.3);
}

.button.-raised.-light {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(243, 246, 243, 0.3);
}

.button.-raised.-light:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(243, 246, 243, 0.3);
}

.button.-raised.-light:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(243, 246, 243, 0.3);
}

.button.-raised.-black {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.button.-raised.-black:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button.-raised.-black:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.button.-raised.-white {
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.3), 0 2px 4px rgba(255, 255, 255, 0.3);
}

.button.-raised.-white:hover {
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3), 0 4px 8px rgba(255, 255, 255, 0.3);
}

.button.-raised.-white:active {
  box-shadow: 0 4px 8px rgba(50, 50, 50, 0.3), 0 8px 16px rgba(255, 255, 255, 0.3);
}

.button__icon + .button__text {
  margin-left: 5px;
}

.card--raised,
.card--profile,
.card--horizontal,
.card--outline,
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  color: #010708;
}

.card--raised .card__image.-circle,
.card--profile .card__image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.card__footer.-divider,
.card__body,
.card__header.-divider {
  padding: 10px 20px;
}

.card {
  position: relative;
  width: 100%;
  box-shadow: 0 10px 20px rgba(50, 50, 50, 0.4);
  color: #ffffff;
  background-position: center;
  background-size: cover;
}

.card.-lg .card__body {
  padding: 30px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: 1;
}

.card__header {
  position: relative;
  padding: 10px 20px 0;
  z-index: 2;
}

.card__header.-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.card__body {
  position: relative;
  z-index: 2;
}

.card__footer {
  position: relative;
  z-index: 2;
  margin-top: auto;
  padding: 0 20px 15px;
}

.card__footer.-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.card__footer .card__link + .card__link {
  margin-left: 10px;
}

.card__image {
  position: relative;
  border-radius: 3px 3px 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.card__figure {
  position: relative;
}

.card__figure.-overlay::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top, black, transparent);
  z-index: 2;
}

.card__figure .card__image {
  position: relative;
  z-index: 1;
}

.card__figure .card__image + .card__title {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 20px;
  color: #fff;
  z-index: 3;
}

.card__title {
  font-size: 1.999rem;
  font-weight: 500;
}

.card__text,
.card__link {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.card__text__text + .card__text__text {
  margin-top: 1rem;
}

.card__link {
  color: #14d622;
  text-decoration: none;
}

.card--outline {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.card--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.card--horizontal .card__figure {
  flex: 1;
}

.card--horizontal .card__body {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.card--horizontal .card__footer {
  padding-left: 0;
  padding-right: 0;
}

.card--profile .card__figure {
  border-radius: 3px 3px 0 0;
  margin-bottom: 100px;
}

.card--profile .card__image {
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.card--profile .card__image.-raised {
  box-shadow: 0 8px 16px rgba(138, 149, 158, 0.2);
}

.card--profile .card__image.-bordered {
  border: 5px solid #fff;
}

.card--raised {
  margin-top: 125px;
  padding-top: 125px;
}

.card--raised .card__image {
  position: absolute;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(138, 149, 158, 0.2);
  transform: scale(0.9) translate(0, -50%);
}

.card--raised .card__image.-circle {
  left: calc(25% - 5px);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  box-shadow: 0 20px 40px rgba(138, 149, 158, 0.8);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 568px) {
  .form {
    padding: 60px;
  }
}

.form.-dark {
  background: #021115;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .form .button {
    font-size: 16px;
  }
}

.search {
  position: relative;
  display: flex;
  width: auto;
}

.search__input {
  border-radius: 100px;
  border: 1px solid #eee;
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 5px 10px;
}

.search__button {
  display: flex;
  align-items: center;
  position: absolute;
  background: transparent;
  border: none;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.field {
  margin-bottom: 1.5rem;
  width: 100%;
}

.field__label,
.field__input {
  display: block;
  font-size: 1.125rem;
  text-align: left;
}

.field__label {
  margin-bottom: 1rem;
}

.field__input {
  width: 100%;
  padding: 0.5rem;
}

.tabs__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tabs__tab {
  position: relative;
  border: none;
  background: transparent;
  font-size: 1.125rem;
}

.tabs__tab::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 100px;
  background: #14d622;
}

.tabs__tab.is-selected::after {
  opacity: 1;
}

.u-bg-primary {
  background-color: #14d622;
}

.u-text-primary {
  color: #14d622;
}

.u-bg-secondary {
  background-color: #04a00e;
}

.u-text-secondary {
  color: #04a00e;
}

.u-bg-success {
  background-color: #14d622;
}

.u-text-success {
  color: #14d622;
}

.u-bg-danger {
  background-color: #ff3920;
}

.u-text-danger {
  color: #ff3920;
}

.u-bg-warning {
  background-color: #ffff26;
}

.u-text-warning {
  color: #ffff26;
}

.u-bg-info {
  background-color: #00e2b2;
}

.u-text-info {
  color: #00e2b2;
}

.u-bg-dark {
  background-color: #021115;
}

.u-text-dark {
  color: #021115;
}

.u-bg-light {
  background-color: #f3f6f3;
}

.u-text-light {
  color: #f3f6f3;
}

.u-bg-black {
  background-color: #000;
}

.u-text-black {
  color: #000;
}

.u-bg-white {
  background-color: #fff;
}

.u-text-white {
  color: #fff;
}

.u-bg-primary-light {
  background-color: #46b7db;
}

.u-text-primary-light {
  color: #46b7db;
}

.u-bg-primary-lighter {
  background-color: #7acbe5;
}

.u-text-primary-lighter {
  color: #7acbe5;
}

.u-bg-primary-lightest {
  background-color: #aee0ef;
}

.u-text-primary-lightest {
  color: #aee0ef;
}

.u-bg-primary-dark {
  background-color: #009ad1;
}

.u-text-primary-dark {
  color: #009ad1;
}

.u-bg-primary-darker {
  background-color: #008dc4;
}

.u-text-primary-darker {
  color: #008dc4;
}

.u-bg-primary-darkest {
  background-color: #007bb2;
}

.u-text-primary-darkest {
  color: #007bb2;
}

.u-bg-lighter {
  background-color: #f3f9fc;
}

.u-text-lighter {
  color: #f3f9fc;
}

.u-bg-lightest {
  background-color: #f7fcfc;
}

.u-text-lightest {
  color: #f7fcfc;
}

.u-bg-darker {
  background-color: #010a0d;
}

.u-text-darker {
  color: #010a0d;
}

.u-bg-darkest {
  background-color: #010708;
}

.u-text-darkest {
  color: #010708;
}

.u-gradient-1 {
  background-image: linear-gradient(130deg, #13ffff, #3ba3ff, #9c00ff);
}

.u-gradient-2 {
  background-image: linear-gradient(130deg, #006fff, #00e5e5, #0bff96);
}

.u-gradient-3 {
  background-image: linear-gradient(#ec038b, #fb6468, #fbb936);
}

.u-font-base {
  font-size: 16px;
}

.u-font-1 {
  font-size: 0.707rem;
}

.u-font-2 {
  font-size: 1.125rem;
}

.u-font-3 {
  font-size: 1.999rem;
}

.u-font-4 {
  font-size: 2.827rem;
}

.u-font-5 {
  font-size: 3.998rem;
}

.u-font-6 {
  font-size: 5.653rem;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-hidden {
  visibility: hidden;
}

.u-d-none {
  display: none;
}

.u-d-inline {
  display: inline;
}

.u-d-inline-block {
  display: inline-block;
}

.u-d-block {
  display: block;
}

.u-d-flex {
  display: flex;
}

.u-d-inline-flex {
  display: inline-flex;
}

.u-justify-start {
  justify-content: flex-start;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-around {
  justify-content: space-around;
}

.u-justify-evenly {
  justify-content: space-evenly;
}

.u-justify-between {
  justify-content: space-between;
}

.u-align-start {
  align-items: flex-start;
}

.u-align-center {
  align-items: center;
}

.u-align-end {
  align-items: flex-end;
}

.u-align-stretch {
  align-items: stretch;
}

@media screen and (min-width: 480px) {
  .u-v-xsm-hidden {
    visibility: hidden;
  }

  .u-d-xsm-none {
    display: none;
  }

  .u-d-xsm-inline {
    display: inline;
  }

  .u-d-xsm-inline-block {
    display: inline-block;
  }

  .u-d-xsm-block {
    display: block;
  }

  .u-d-xsm-flex {
    display: flex;
  }

  .u-d-xsm-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 480px) {
  .u-justify-xsm-start {
    justify-content: flex-start;
  }

  .u-justify-xsm-center {
    justify-content: center;
  }

  .u-justify-xsm-end {
    justify-content: flex-end;
  }

  .u-justify-xsm-around {
    justify-content: space-around;
  }

  .u-justify-xsm-evenly {
    justify-content: space-evenly;
  }

  .u-justify-xsm-between {
    justify-content: space-between;
  }

  .u-align-xsm-start {
    align-items: flex-start;
  }

  .u-align-xsm-center {
    align-items: center;
  }

  .u-align-xsm-end {
    align-items: flex-end;
  }

  .u-align-xsm-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 568px) {
  .u-v-sm-hidden {
    visibility: hidden;
  }

  .u-d-sm-none {
    display: none;
  }

  .u-d-sm-inline {
    display: inline;
  }

  .u-d-sm-inline-block {
    display: inline-block;
  }

  .u-d-sm-block {
    display: block;
  }

  .u-d-sm-flex {
    display: flex;
  }

  .u-d-sm-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 568px) {
  .u-justify-sm-start {
    justify-content: flex-start;
  }

  .u-justify-sm-center {
    justify-content: center;
  }

  .u-justify-sm-end {
    justify-content: flex-end;
  }

  .u-justify-sm-around {
    justify-content: space-around;
  }

  .u-justify-sm-evenly {
    justify-content: space-evenly;
  }

  .u-justify-sm-between {
    justify-content: space-between;
  }

  .u-align-sm-start {
    align-items: flex-start;
  }

  .u-align-sm-center {
    align-items: center;
  }

  .u-align-sm-end {
    align-items: flex-end;
  }

  .u-align-sm-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 768px) {
  .u-v-md-hidden {
    visibility: hidden;
  }

  .u-d-md-none {
    display: none;
  }

  .u-d-md-inline {
    display: inline;
  }

  .u-d-md-inline-block {
    display: inline-block;
  }

  .u-d-md-block {
    display: block;
  }

  .u-d-md-flex {
    display: flex;
  }

  .u-d-md-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) {
  .u-justify-md-start {
    justify-content: flex-start;
  }

  .u-justify-md-center {
    justify-content: center;
  }

  .u-justify-md-end {
    justify-content: flex-end;
  }

  .u-justify-md-around {
    justify-content: space-around;
  }

  .u-justify-md-evenly {
    justify-content: space-evenly;
  }

  .u-justify-md-between {
    justify-content: space-between;
  }

  .u-align-md-start {
    align-items: flex-start;
  }

  .u-align-md-center {
    align-items: center;
  }

  .u-align-md-end {
    align-items: flex-end;
  }

  .u-align-md-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 960px) {
  .u-v-lg-hidden {
    visibility: hidden;
  }

  .u-d-lg-none {
    display: none;
  }

  .u-d-lg-inline {
    display: inline;
  }

  .u-d-lg-inline-block {
    display: inline-block;
  }

  .u-d-lg-block {
    display: block;
  }

  .u-d-lg-flex {
    display: flex;
  }

  .u-d-lg-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 960px) {
  .u-justify-lg-start {
    justify-content: flex-start;
  }

  .u-justify-lg-center {
    justify-content: center;
  }

  .u-justify-lg-end {
    justify-content: flex-end;
  }

  .u-justify-lg-around {
    justify-content: space-around;
  }

  .u-justify-lg-evenly {
    justify-content: space-evenly;
  }

  .u-justify-lg-between {
    justify-content: space-between;
  }

  .u-align-lg-start {
    align-items: flex-start;
  }

  .u-align-lg-center {
    align-items: center;
  }

  .u-align-lg-end {
    align-items: flex-end;
  }

  .u-align-lg-stretch {
    align-items: stretch;
  }
}

@media screen and (min-width: 1200px) {
  .u-v-xlg-hidden {
    visibility: hidden;
  }

  .u-d-xlg-none {
    display: none;
  }

  .u-d-xlg-inline {
    display: inline;
  }

  .u-d-xlg-inline-block {
    display: inline-block;
  }

  .u-d-xlg-block {
    display: block;
  }

  .u-d-xlg-flex {
    display: flex;
  }

  .u-d-xlg-inline-flex {
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .u-justify-xlg-start {
    justify-content: flex-start;
  }

  .u-justify-xlg-center {
    justify-content: center;
  }

  .u-justify-xlg-end {
    justify-content: flex-end;
  }

  .u-justify-xlg-around {
    justify-content: space-around;
  }

  .u-justify-xlg-evenly {
    justify-content: space-evenly;
  }

  .u-justify-xlg-between {
    justify-content: space-between;
  }

  .u-align-xlg-start {
    align-items: flex-start;
  }

  .u-align-xlg-center {
    align-items: center;
  }

  .u-align-xlg-end {
    align-items: flex-end;
  }

  .u-align-xlg-stretch {
    align-items: stretch;
  }
}

.u-rounded-1 {
  border-radius: 3px;
}

.u-rounded-2 {
  border-radius: 4px;
}

.u-rounded-3 {
  border-radius: 10px;
}

.u-rounded-4 {
  border-radius: 25px;
}

.u-rounded-circle {
  border-radius: 50%;
}

.u-shadow-1 {
  box-shadow: 0 3px 6px rgba(10, 10, 10, 0.15);
}

.u-shadow-2 {
  box-shadow: 0 4px 8px rgba(10, 10, 10, 0.15), 0 5px 10px rgba(20, 20, 20, 0.05);
}

.u-shadow-3 {
  box-shadow: 0 8px 16px rgba(138, 149, 158, 0.2);
}

.u-shadow-4 {
  box-shadow: 0 20px 40px rgba(138, 149, 158, 0.8);
}

